<nav class="navbar fixed-top navbar-light bg-light justify-content-between">
    <div class="flex-grow-1 d-flex justify-content-between align-items-center">
        <img class="logo" (click)="router.navigate(['/list'])" src="assets/images/brand-logo.png" alt="My Movies" />
        <span *ngIf="user">
            Hoşgeldin, {{user.username}}
        </span>
    </div>
    <div class="mt-2 mt-md-0" *ngIf="user">
        <button class="btn btn-secondary ml-3" (click)="openConfirmationModal()">Hesabı Sil</button>
        <button class="btn btn-primary ml-3" (click)="router.navigate(['/add']);">Film ekle</button>
        <button class="btn btn-secondary ml-3" (click)="logout()">Çıkış Yap</button>
    </div>
</nav>
<app-confirmation-modal (success)="deleteAccount()" [modalTitleText]="'Hesabı Sil'"
    [modalBodyTextContent]="'Hesabınızı silmek istediğinize emin misiniz?'" [modalAcceptText]="'Sil'"
    [modalDeclineText]="'Vazgeç'">
</app-confirmation-modal>