<app-header></app-header>

<div class="d-flex justify-content-center align-items-center height-100vh">
    <div>
        <form [formGroup]="form" (submit)="submit()">
            <div class="form-group d-flex flex-column">
                <div>
                    <input type="text" formControlName="username"
                        [ngClass]="{ error: form.controls['username'].invalid && form.controls['username'].touched }"
                        class="form-control" placeholder="Kullanıcı adı" autocomplete="off" required>
                </div>
                <ng-container *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
                    <div class="input-warning text-danger mt-1">Lütfen kullanıcı adınızı giriniz</div>
                </ng-container>
            </div>
            <div class="form-group d-flex flex-column">
                <div class="input-group">
                    <input [type]="passwordEyeClosed ? 'password' : 'text'" formControlName="password"
                        [ngClass]="{ error: form.controls['password'].invalid && form.controls['password'].touched }"
                        class="form-control" placeholder="Şifre" autocomplete="off" required>
                    <div class="input-group-append">
                        <span class="input-group-text"
                            [ngClass]="{ error: form.controls['password'].invalid && form.controls['password'].touched }">
                            <div (click)="togglePassword()">
                                <ng-container *ngIf="passwordEyeClosed; else passwordIconEye">
                                    <i class="fa fa-eye-slash"></i>
                                </ng-container>
                            </div>
                            <ng-template #passwordIconEye>
                                <i class="fa fa-eye"></i>
                            </ng-template>
                        </span>
                    </div>
                </div>
                <ng-container *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                    <div class="input-warning text-danger mt-1">Lütfen şifrenizi giriniz</div>
                </ng-container>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!form.valid">Giriş</button>
            </div>
        </form>
    </div>
</div>