<div class="row justify-content-center m-2 mt-5 m-sm-5">
    <div class="col-12 col-sm-3 mt-5">
        <input [(ngModel)]="searchKeyword" [typeahead]="suggestions" typeaheadOptionField="Title"
            [typeaheadAsync]="true" class="form-control" placeholder="Ara" autocomplete="off" name="search"
            [typeaheadItemTemplate]="customItemTemplate" [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="10" [typeaheadLatinize]="true" #typeahead="bs-typeahead"
            (typeaheadOnSelect)="selectMovie($event)" (ngModelChange)="setSearchKeyword($event)"
            (typeaheadOnBlur)="closeOptions()">
        <ng-template #customItemTemplate let-model="item">
            <div class="d-flex align-items-center w-100">
                <div>
                    <img [src]="model.Poster !== 'N/A' ? model.Poster : 'assets/images/default-movie.png'" width="50">
                </div>
                <div class="d-flex flex-column">
                    <div>{{ model.Title }}</div>
                    <div>{{model.Year}}</div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col-12 col-sm-6 mt-5">
        <app-movie-form [movie]="selectedMovie" (submitEmitter)="submit($event)" [title]="'Film ekle'"></app-movie-form>
    </div>
</div>
<button class="btn btn-secondary" (click)="router.navigate(['/link'])">Listeye Dön</button>